body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0ddee;
  }

  .calculator {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #cf9bcc;
    border: 1px solid #4b204b;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #be7abb;
  }
  